<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>ChatCat</title>
	<link rel="stylesheet" type="text/css" href="../public/css/room.css">
</head>
<body>
	<div class="cr-container">
		<h1 class="cr-title">ChatCat </h1>
		<div class="cr-userbox">
			<img src="../public/images/profilepic.png" class="userPic">
			<h3 class="userName">Uttam Sapkota | <a href="#">Logout </a> <a href="#"> More Chatrooms</a> </h3>
		</div>
		<div class="rm-roomname">
			<h5>NodeJS</h5>
		</div>
		<div class="rm-messages">
			<ul class="messages">
				<li>
					<div class="msgbox">
						<div class="pic"><img src="../public/images/profilepic.png"> Uttam Sapkota </div>
						<div class="msg"><p>Hi there.</p></div>
					</div>
				</li>
			</ul>
		</div>
		<div class="rm-users">
			<ul class="users">
				<li><img src="../public/images/profilepic.png" "><h5>Uttam Sapkota</h5></li>
			</ul>
		</div>
		<div class="rm-newmessage">
			<input type="text" class="newmessage" autocomplete="off" placeholder="Type in your messages and press Enter!">
			
		</div>

	</div>
</body>
</html>